/* RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Attributi basic per contenitore numeri*/

.basic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/*Attributi box*/

#First-box {
    background-color: red;
    top: 10%;
    left: 10%;
}
#Second-box {
    background-color: white;
    top: 10%;
    left: 10%;
}
#Third-box {
    background-color: yellow;
    top: 10%;
    left: 10%;
}
#Fourth-box {
    background-color: green;
    top: 10%;
    left: 10%;
}
#Fifth-box {
    background-color: blueviolet;
    top: 10%;
    left: 10%;
}

